# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase
firebase-debug.log
firestore-debug.log

# Environment variables
.env

REACT_APP_PAYPAL_CLIENT_ID=AUJJg3yZa5HYgAYVsUXEv1LYK0Wi5zsGDqqYngj9MhJB8Mwr1ly-tzHh-kjWO5cqHGhw0VXKEL0yJJCj
REACT_APP_ENVIRONMENT=production
